<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../Static/about.css">
</head>
<body>
<div class="container">
    <header>
        <h1>About us</h1>
    </header>
    <main>
    <p>Welcome to our website! We are dedicated to providing the best services and products to our customers. Our team works hard to ensure quality and satisfaction in everything we do.</p>
    <p>Our mission is to help with food waste by offering the customers a convenient way of saving food.</p>
    </main>
</div>

</body>
</html>