<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om os</title>
    <link rel="stylesheet" href="../Static/about.css">
</head>

<body>

<div class="container">

    <header>
        <h1>Om os</h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href ="index">Forside</a></li>
            <li><a href ="fakta">Fakta</a></li>
            <li><a href ="tips">Tips og råd</a></li>
            <li><a href ="event">Events</a></li>
            <li><a href ="about">Om os</a></li>
        </ul>

        <ul>
            <li><a href ="login">Login</a></li>
        </ul>
    </nav>

    <main>
    <p>Vores mission i organisationen ”Danmark mod Madspild” er at bekæmpe madspild ved aktivt at prøve og informere en bredere del af befolkningen i Danmark om problemet. Dette gælder både forbrugere, virksomheder og andre organisationer, ved at have denne platform som kan vejlede med tips og råd og fremvise hvorfor der bør tages stilling til det med fakta som konsekvent viser hvordan forholdene er og har udviklet sig gennem årene. Udover dette vil vi også lave events som skal bringe et fællesskab sammen om bekæmpelsen for madspild.</p>
        <br>

        <p>På den måde kan vi bedst muligt gøre en forskel og lave ændringer i hverdagen som kan bekæmpe madspild, for udover at være et spild af ressourcer for forbrugere, virksomheder og organisationer så er madspild også et problem ift. vores klode og klimaet.</p>
    </main>


</div>

</body>
</html>
