* {

}
body {
    font-family: Elephant, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 62, 128);
    text-align: center;
}
header {
    background-color: #7af35f;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    padding: 10px 0px;
    display: flex;                      /* flexbox - alt indeni navbar (ul liste af links både med nav left og right) lægges på 1 linje*/
    justify-content: space-between;     /* fordeling af plads mellem elementerne*/
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;                      /* tekst links sættes på samme linje */
}

nav ul li {
    display: inline;                    /* link tekst står på en linje */
    margin: 0 30px;                     /* ingen afstand over eller under linktekst, men 30px afstand mellem dem højre og venstre */
}

nav ul li a {
    text-decoration: none;              /* understregning for links fjernes */
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;        /* tid for overgang når mus holdes over tekst så den skrifter farve */
}

nav ul li a:hover {
    color: #7af35f;                     /* overgang farve skifter når mus er ovre link tekst */
}

main {
    max-width: 800px;
    margin: auto;
    background: rgb(36,44,84);
    padding: 10px 0;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, select, button {
    margin-bottom: 10px;
}
.container {
    margin: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: white;
}
